<div style="background-color: antiquewhite;">

    <div class="row mt-5 ms-3">

        <div class="col-8"><h2 class="ms-3">Invoices</h2></div>
        <div class="col-4" style="align-items: center;"><button type="button" class="btn btn-primary mt-1">+ New</button></div>
    </div>

    <div>

        <div style="width:95%; background-color: aquamarine;" class="mt-4 ms-5 shadow p-3 mb-5 rounded">
            <div class="row mt-2">
                <div class="col-8" style="background-color: bisque;">
                    <h5>Invoice No : 3</h5>
                </div>
                <div class="col-4"> 
                    <p>Date : 22-03-2024</p>
                </div>
            </div>
    
            <div>
                <p>Customer Name : Nitharsha</p>
            </div>

            <div>
                <p>Parchased Items : </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lux Soap</td>
                            <td>155.00</td>
                            <td>4</td>
                        </tr>

                        <tr>
                            <td colspan="2">Discount</td>
                            <td>0</td>
                        </tr>

                        <tr class="table-primary">
                            <td colspan="2">Total Amount</td>
                            <td>840.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>

    </div>
    
</div>
